.testimonials-section {
    padding: 60px 0;
}
.testimonials-section__title {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    color: var(--LIGTH-GRAYISH-BLUE);
    letter-spacing: .2em;
    margin-bottom: 30px;
    font-weight: 900;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.gallery__img {
    width: 100%;
}