.testimonials-section {
    padding: 60px 0;
}
.testimonials-section__title {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
    font-size: .9em;
    color: var(--LIGTH-GRAYISH-BLUE);
    letter-spacing: .2em;
    margin-bottom: 30px;
    font-weight: 900;
}
.testimonials-section__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}
.gallery__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    background-repeat: no-repeat;
    background-size: cover;
}
.gallery__img--milkbottles {
    background-image: url('images/mobile/image-gallery-milkbottles.jpg');
}
.gallery__img--orange {
    background-image: url('images/mobile/image-gallery-orange.jpg');
}
.gallery__img--cone {
    background-image: url('images/mobile/image-gallery-cone.jpg');
}
.gallery__img--sugarcubes {
    background-image: url('images/mobile/image-gallery-sugar-cubes.jpg');
}

@media (min-width: 600px) {
    .testimonials-section__container {
        padding-left:  10%;
        padding-right: 10%;
    }
}

@media (min-width: 910px) {
    .testimonials-section {
        padding: 160px 0;
    }
    .testimonials-section__title {
        font-size: 1.15em;
    }
    .testimonials-section__container {
        margin-top: 80px;
        flex-direction: row;
        justify-content: space-between;
    }

    .gallery {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
    }
    .gallery__img {
        width: 100%;
        aspect-ratio: 120 / 149;
    }
    .gallery__img--milkbottles {
        background-image: url('images/desktop/image-gallery-milkbottles.jpg');
    }
    .gallery__img--orange {
        background-image: url('images/desktop/image-gallery-orange.jpg');
    }
    .gallery__img--cone {
        background-image: url('images/desktop/image-gallery-cone.jpg');
    }
    .gallery__img--sugarcubes {
        background-image: url('images/desktop/image-gallery-sugarcubes.jpg');
    }
}