.header {
    background-image: url(./assets/mobile/image-header.jpg);
    height: 100vh;
    background-position: bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
}
.nav {
    display: flex;
    justify-content: space-between;
    padding: 30px 7%;
    align-items: center;
    position: fixed;
    width: 100%;
    background-color: var(--BLUE-NAV-BG);
    z-index: 2;
}
.mobile-nav-launcher {
    width: 23px;
    height: 18px;
}
.mobile-nav-launcher:hover {
    cursor: pointer;
}
.desktop-nav {
    display: none;
}
.mobile-nav {
    position: fixed;
    top: 84px;
    left: 0;
    width: 100%;
    padding: 0 7.5%;
}
.mobile-nav__triangle {
    border-bottom: 25px solid var(--WHITE);
    border-left: 25px solid transparent;
    width: 0;
    height: 0;
    margin-left: auto;
}
.mobile-nav__list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    list-style: none;
    height: 300px;
    background-color: var(--WHITE);
}
.mobile-nav__btn {
    text-align: center;
}
.mobile-nav__btn--menu {
    color: var(--GRAYISH-BLUE);
    font-size: 1.15em;

}
.mobile-nav__btn--contact {
    text-transform: uppercase;
    font-family: 'Fraunces', serif;
    font-size: .95em;
    background-color: var(--YELLOW  );
    align-self: center;
    padding: 15px 30px;
    border-radius: 30px;
}
.header__content {
    padding-top: 84px;
    padding-left: 5%;
    padding-right: 5%;
    flex-grow: 1;
    justify-content: flex-end;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header__title {
    font-family: 'Fraunces', serif;
    text-transform: uppercase;
    text-align: center;
    color: var(--WHITE);
    font-size: 2.2em;
    font-weight: 900;
    letter-spacing: 6px;
    margin-bottom: 15vh;
}
.header__arrow-icon {
    margin-bottom: 28vh;
}
@media (min-width: 600px) {
    .header__title {
        margin-bottom: 13vh;
    }
    .header__arrow-icon {
        margin-bottom: 265px;
    }
}
@media (min-width: 660px) {
    .header__arrow-icon {
        margin-bottom: 300px;
    }
}
@media (min-width: 750px) {
    .nav {
        padding: 15.5px 7%;
    }
    .mobile-nav-launcher {
        display: none;
    }
    .desktop-nav {
        display: flex;
        list-style: none;
    }
    .desktop-nav__btn {
        font-size: 1.05em;
    }
    .desktop-nav__btn:hover {
        cursor: pointer;
    }
    .desktop-nav__btn--menu {
        margin-top: 15px;
        margin-bottom: 15px;
        color: var(--WHITE);
        margin-right: 45px;
        transition: all .2s;
    }
    .desktop-nav__btn--menu:hover {
        text-shadow: 
            1px 0px var(--BLUE-LIGHT-HOVER),
            1px 1px var(--BLUE-LIGHT-HOVER),
            0px 0px var(--BLUE-LIGHT-HOVER),
            0px 1px var(--BLUE-LIGHT-HOVER);
    }
    .desktop-nav__btn--contact {
        padding: 15px 30px;
        background-color: var(--WHITE);
        text-transform: uppercase;
        font-family: 'Fraunces', serif;
        font-size: .93em;
        border-radius: 30px;
        transition:
            color .3s;
        position: relative;
        z-index: 1;
        overflow: hidden;
    }
    .desktop-nav__btn--contact::after {
        content: '';
        position: absolute;
        background-color: var(--BLUE-LIGHT-HOVER);
        width: 100%;
        height: 0;
        top: 0;
        left: 0;
        z-index: -1;
        transition: height .2s;
    }
    .desktop-nav__btn--contact:hover {
        color: var(--WHITE)
    }
    .desktop-nav__btn--contact:hover::after {
        top: auto;
        bottom: 0;
        height: 100%;

    }
    .header {
        background-image: url(./assets/desktop/image-header.jpg);
    }
    .header__title {
        font-size: 3em;
        letter-spacing: 8px;
        margin-bottom: 10vh;
    }
    .header__arrow-icon {
        margin-bottom: 39vh;
    }
    
}
@media (min-width: 1560px) {
    .header__arrow-icon {
        margin-bottom: 350px;
    }
}
@media (min-width: 1620px) {
    .header__title {
        margin-bottom: 9vh;
    }

    .header__arrow-icon {
        margin-bottom: 22.5vw;
    }
}
