.img-card {
    width: 100%;
    aspect-ratio: 5 / 8;
    background-size: contain;
    display: flex;
}
.img-card--animation {
    animation: card-animation 1.5s;
}
.img-card--graphic {
    background-image: url('/images/mobile/image-graphic-design.jpg');
}
.img-card--photography {
    background-image: url('/images/mobile/image-photography.jpg');
}
.img-card__text {
    text-align: center;
    padding-left: 7%;
    padding-right: 7%;
    padding-top: 115%;
    align-self: flex-start;
}
.img-card__title {
    font-family: 'Fraunces', serif;
    font-weight: 900;
    margin-bottom: 25px;
    text-transform: capitalize;
}
.img-card__paragraph {
    font-size: .9em;
    line-height: 1.6em;
}
.img-card__text--cyan {
    color: var(--DARK-CYAN-TEXT);
}
.img-card__text--blue {
    color: var(--DARK-BLUE-TEXT);
}
@keyframes card-animation {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }
    100% {
        opacity: 100;
    }
}
@media (min-width: 600px) {
    .img-card {
        aspect-ratio: 5 / 7;
        background-size: cover;
        background-position: top;
    }
}
@media (min-width: 770px) {
    .img-card {
        aspect-ratio: 5 / 8;
        background-size: contain;
    }
}

@media (min-width: 910px) {
    .img-card {
        aspect-ratio: 6 / 5;
    }
    .img-card--graphic {
        background-image: url('/images/desktop/image-graphic-design.jpg');
    }
    .img-card--photography {
        background-image: url('/images/desktop/image-photography.jpg');
    }
    .img-card__text {
        padding-top: 50%;
        padding-left: 12%;
        padding-right: 12%;
    }
}
@media (min-width: 1200px) {
    .img-card__text {
        padding-top: 54%;
        padding-left: 26%;
        padding-right: 26%;
    }
}
@media (min-width: 1600px) {
    .img-card__text {
        padding-top: 58%;
        padding-left: 26%;
        padding-right: 26%;
    }
    .img-card__title {
        font-size: 2em;
    }
    .img-card__paragraph {
        font-size: 1em;
    }
}
