@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --BLUE-NAV-BG: hsl(200, 100%, 62%);
  --BLUE-LIGHT-HOVER: hsl(200, 100%, 72%);
  --WHITE: hsl(0, 0%, 100%);
  --YELLOW: hsl(51, 100%, 49%);
  --SALMON: hsl(7, 99%, 70%);
  --DARK-BLUE: hsl(212, 27%, 19%);
  --GRAYISH-BLUE: hsl(232, 10%, 55%);
  --LIGTH-GRAYISH-BLUE: hsl(210, 4%, 67%);
  --GRAY: hsl(213, 9%, 39%);
  --DARK-CYAN-TEXT: hsl(167, 40%, 24%);
  --DARK-BLUE-TEXT: hsl(198, 62%, 26%);
  --MODERATE-CYAN: hsl(168, 34%, 41%);
  --LIGTH-CYAN: hsl(167, 44%, 70%);

  font-family: 'Barlow', sans-serif
}

html {
  font-size: 18px;
}